<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="admin/fragments/bodyHeader :: bodyHeader"/>
    <div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>주문번호</th>
                <th>회원명</th>
                <th>대표상품 이름</th>
                <th>대표상품 주문가격</th>
                <th>대표상품 주문수량</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.member.name}"></td>
                <td th:text="${order.orderItems.get(0).item.name}"></td>
                <td th:text="${order.orderItems.get(0).orderPrice}"></td>
                <td th:text="${order.orderItems.get(0).count}"></td>
                <td>
                    <a class="btn btn-primary" href="#"
                       role="button" th:href="@{/orders/{id} (id=${order.id})}">주문 상세</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>